<?xml version="1.0"?>
<config>
    <modules>
        <BT_Faturahpayment>
            <version>0.1.0</version>
        </BT_Faturahpayment>
    </modules>
    <frontend>
        <routers>
            <faturahpayment>
                <use>standard</use>
                <args>
                    <module>BT_Faturahpayment</module>
                    <frontName>faturahpayment</frontName>
                </args>
            </faturahpayment>
        </routers>
        <layout>
            <updates>
                <faturahpayment>
                    <file>faturahpayment.xml</file>
                </faturahpayment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<faturahpayment>
				<use>admin</use>
				<args>
					<module>BT_Faturahpayment</module>
					<frontName>faturahpayment</frontName>
				</args>
			</faturahpayment>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<BT_Faturahpayment>
							<title>Faturahpayment Module</title>
							<sort_order>10</sort_order>
						</BT_Faturahpayment>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<faturahpayment>
					<file>faturahpayment.xml</file>
				</faturahpayment>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <faturahpayment>
                <class>BT_Faturahpayment_Model</class>
                <resourceModel>faturahpayment_mysql4</resourceModel>
            </faturahpayment>
            <faturahpayment_mysql4>
                <class>BT_Faturahpayment_Model_Mysql4</class>
                <entities>
                    <faturahpayment>
                        <table>faturahpayment</table>
                    </faturahpayment>
                </entities>
            </faturahpayment_mysql4>
        </models>
        <resources>
            <faturahpayment_setup>
                <setup>
                    <module>BT_Faturahpayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faturahpayment_setup>
            <faturahpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faturahpayment_write>
            <faturahpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faturahpayment_read>
        </resources>
        <blocks>
            <faturahpayment>
                <class>BT_Faturahpayment_Block</class>
            </faturahpayment>
        </blocks>
        <helpers>
            <faturahpayment>
                <class>BT_Faturahpayment_Helper</class>
            </faturahpayment>
        </helpers>
    </global>
    
     <!-- Start for payment -->
	<default>
		<payment>
			<faturahpayment>
				<model>faturahpayment/standard</model>
					<active>1</active>
						<order_status>pending</order_status>
							<title>Gaturah Payment</title>
							<payment_action>sale</payment_action>
							<allowspecific>0</allowspecific>
							<sort_order>1</sort_order>
			</faturahpayment>
		</payment>
	</default>
	
	<!-- End for payment -->
</config>
